<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dado.demo.mapper.CommentMapper">
  <select id="selectCommentList" resultType = "com.dado.demo.vo.CommentVO">
		SELECT B.COMMENT_ID,
			   B.TARGET_GROUP,
			   B.TARGET_ID,
			   B.TARGET_LAYER,
			   B.cont,
			   B.WRITER,
			   U.USERNAME WRITER_NM,
			   B.REGDATE,
			   B.DELDATE,
			   B.ORIGIN_ID
        FROM (
			SELECT *
            FROM TB_COMMENT
            WHERE TARGET_GROUP='BD' AND TARGET_ID = #{post_id} AND DELDATE IS NULL
            ORDER BY ORIGIN_ID DESC
            LIMIT #{comment_cnt}, 3
        ) B
        JOIN TB_USER U
        ON B.WRITER = U.USERID
  </select> 
</mapper>
